# Project exclude paths
/.gradle/
/.idea
/app/build/
/app/release/
/lib_mediaplayer_ui/build/
/lib_mediaplayer_core_exo_jar/build/
/lib_mediaplayer_core_exo_r2.14.0/build/
/lib_mediaplayer_core_exo_r2.15.0/build/
/lib_mediaplayer_core_exo_r2.16.1/build/
/lib_mediaplayer_core_exo_r2.18.0/build/
/lib_mediaplayer_core_ijk_k0.8.8_ff4.0_full/build/
/lib_mediaplayer_core_ijk_k0.8.8_ff4.0_full/.cxx/
/lib_mediaplayer_core_ijk_k0.8.8_ff4.0_lite/build/
/lib_mediaplayer_core_ijk_k0.8.8_ff4.0_lite/.cxx/
/lib_mediaplayer_core_vlc_r3.4.9/build/
/lib_mediaplayer_core_vlc_r3.4.9/.cxx/
