# Project exclude paths
/.gradle/
/.idea
/app/build/
/app/release/
/lib_mediaplayer_ui/build/
/lib_mediaplayer_core_exoplayer_jar/build/
/lib_mediaplayer_core_exoplayer_r2.14.0/build/
/lib_mediaplayer_core_exoplayer_r2.15.0/build/
/lib_mediaplayer_core_exoplayer_r2.16.1/build/
/lib_mediaplayer_core_ijkplayer/build/
/lib_mediaplayer_core_ijkplayer/.cxx/