<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kalu.mediaplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.kalu.mediaplayer.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.kalu.mediaplayer.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity
            android:name="com.kalu.mediaplayer.ui.PortraitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />

        <!--        <activity android:name="com.kalu.mediaplayer.MainActivity"-->
        <!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--            android:screenOrientation="portrait">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <!--        <activity android:name="com.kalu.mediaplayer.MainActivity"/>-->
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.list.TestListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.tiny.TestFullActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.surface.TestSurfaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <!--        <activity android:name="com.yc.ycvideoplayer.newPlayer.activity.TypeActivity"-->
        <!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--            android:screenOrientation="portrait"/>-->
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.activity.MultipleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.tiktok.TikTok2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.tiktok.TikTok1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.danmu.DanmuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.ad.AdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.list.ContinuousVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.clarity.ClarityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.tiny.TinyScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.pip.PipActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.newPlayer.pip.PipListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.demo.DemoActivity"
            android:process=":demo" />
        <activity
            android:name="com.kalu.mediaplayer.demo.IjkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.demo.MediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.demo.MediaActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.demo.ExoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kalu.mediaplayer.music.MusicPlayerActivity"
            android:process=":demo" />
        <activity
            android:name="com.kalu.mediaplayer.m3u8.M3u8Activity"
            android:process=":demo" />
    </application>

</manifest>