<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lib.kalu.mediaplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 监听网络状态变化需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <!--        <receiver-->
        <!--            android:name="lib.kalu.mediaplayer.ui.old.other.BatterReceiver"-->
        <!--            android:process=":mediaplayer" />-->
        <!--        <receiver-->
        <!--            android:name="lib.kalu.mediaplayer.ui.old.other.NetChangedReceiver"-->
        <!--            android:process=":mediaplayer">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <service android:name=".core.kernel.music.service.PlayService" />

        <receiver
            android:name=".core.kernel.music.receiver.NotificationStatusBarReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="lib.kalu.status_bar" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.kernel.music.receiver.EarphoneControlReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.kernel.music.receiver.AudioBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="lib.kalu.lock" />
            </intent-filter>
        </receiver>

        <activity
            android:name="lib.kalu.mediaplayer.TestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|uiMode"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/MediaplayerThemeFull" />

    </application>

</manifest>